/*  your css code here. If applicable */
/* .middle{
	align:middle;
	
} */
 table {
     width: 100%;    
	 border: 1px solid black;
 }
th, td {
    border: 1px solid black;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}
.centered-image{
	display: block;
    margin: 0 auto;
}

		